#gif_box {
  display: none;
}
#gif {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
#gif_pic {
  margin: 10% 45% 0 45%;
}
#load_text {
  margin: 10% 46% 0 46%;
  font-size: 2rem;
}
/* ここから上は削除しないでください */

.search_ward {
  color: red;
}
/* 適当に入れたやつなので、消してもらっても大丈夫です */
